.footer {
    text-align: center;
    padding: 60px;
    background-color: #2c2b2b;
}

.footer a {
    font-size: 34px;
    color: rgba(195, 216, 230, 1);
    margin: 0 15px;
}

.footer a:hover {
    font-size: 34px;
    outline-color: rgba(255, 180, 197, .5);
    color: white;
    margin: 0 15px;
}

.footer p {
    padding-top: 30px;
    color: white;
    font-weight: 200;
}

.footer .fas {
    color: rgba(195, 216, 230, 1);
}

.fa-fw {
    text-align: center;
    width: 1.25em;
}
